@import url(img/img.css);
@import url(text-wrapper/text-wrapper.css);
@import url(text/text.css);
@import url(text_long/text_long.css);
@import url(text_middle/text_middle.css);
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 24px;
}

@media screen and (min-width: 768px) {
    .card {
        display: flex;
        flex-direction:row;
        align-items: start;
        justify-content: space-between;
        padding-top: 32px;
        
    }
}

@media screen and (min-width: 1120px) {
    .card {
        padding-top: 8px;
        
    }
}