.main__title-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .main__title-nav {
        padding-bottom: 32px;
    }
}

@media screen and (min-width: 1120px) {
    .main__title-nav{
        padding-top: 42px;
        padding-bottom: 8px;
    }
}