.wrapper{
    padding-right: 16px;
    padding-left: 16px;
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding-right: 24px;
        padding-left: 24px;
    }
}
@media screen and (min-width: 1120px) {
    .wrapper {
        padding-right: 32px;
        padding-left: 32px;
    }
}