.main__navigation {
    position: relative;
}
.main__navigation::after{
    content: '';
    width: 24px;
    height: 40px;
    background: -webkit-linear-gradient(left, rgba(248,248,248,0), rgb(248,248,248,1));
    position: absolute;
    right: 0;
    top: 0;
    
}